.body {
    background-color: cadetblue;
}

.gameTitle {
    text-align: center;
    font-size: 100px;
    color: blueviolet;
}

.battleships-board-grid {
    border: 5px solid indigo;
    background-color: white;
    margin: auto;
}

.boad-area-content {
    width: 30px;
    height: 30px;
    border: 3px  solid cadetblue;
    text-align: center;
    vertical-align: center;
}

.communicate-box {
    position: center;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
}

.rules-box {
    color: white;
    font-size: 15px;
    padding-top: 30px;
}

.game-end {
    position: center;
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 25px;
    color: white;
}

.button {
    position: center;
    margin: auto;
}

.header {
    font-size: 16px;
}